<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="RadWorks\QuickOrderShipment\Model\Inventory\SourceProviderInterface"
                type="RadWorks\QuickOrderShipment\Model\Inventory\SourceProvider"/>
    <preference for="RadWorks\QuickOrderShipment\Model\Order\ShipmentManagementInterface"
                type="RadWorks\QuickOrderShipment\Model\Order\ShipmentManagement"/>
    <type name="Magento\InventoryShipping\Model\GetItemsToDeductFromShipment">
        <plugin name="RadWorks_QuickOrderShipment::skip_shipment_items_deduction_for_no_product"
                type="RadWorks\QuickOrderShipment\Plugin\InventoryShipping\Model\GetItemsToDeductFromShipment\SkipShipmentItemsDeductionForNoProduct"/>
    </type>
</config>
