<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryShipping\Model\GetItemsToDeductFromShipment">
        <plugin name="RadWorks_QuickOrderShipment::skip_shipment_items_deduction_from_source"
                type="RadWorks\QuickOrderShipment\Plugin\InventoryShipping\Model\GetItemsToDeductFromShipment\SkipShipmentItemsDeductionFromSource"/>
    </type>
</config>
